<h2>Login</h2>

<form (ngSubmit)="submit()" #loginForm="ngForm" novalidate>
  <fieldset [disabled]="successMessage()">
    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      required
      email
    />
    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      required
    />

    <!-- <button type="submit" [disabled]="loginForm.invalid">Login</button> -->
    <button type="submit">Login</button>
  </fieldset>
</form>

@if (successMessage()) {
<p style="color: green">{{ successMessage() }}</p>
} @if (errorMessage()) {
<p style="color: red">{{ errorMessage() }}</p>
}
