:host {
  padding: 40px;
  flex-grow: 1;
}

form {
  height: 100%;

  fieldset {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    label {
      margin-top: 20px;
    }

    input,
    textarea {
      border: none;
      padding: 0;
      outline: none;
      margin-top: 5px;
      font-size: 1.2rem;
    }

    textarea {
      height: 100%;
      flex-grow: 1;
    }
  }
}
